body{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav-item{
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: red;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
}

#nav-link{
    color: black;
    text-decoration: none;
}

#nav-item:hover{
    background-color: blue;
    transition: 0.6s;
}

#dropdown{
    width: 150px;
    position: absolute;
    top: 50px;
    left: 0px;
    display: none;
}

.drop{
    position: relative;

}

#drop-item{
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    background-color: red;
    padding-top: 15px;
}

#drop-item:hover{
    background-color: blue;
    transition: 0.6s;
}

#drop-link{
    color: black;
    text-decoration: none;
}

.drop:hover #dropdown{
    display: block;
}