body{
    background-image: url(../images/bg_image.jpg);
    background-size: 100% 900px;
    padding: 0;
    margin: 0;
}

/*Start Home Page Nav/menu bar codding*/
nav{
    width: 100%;
    height: 260px;
    background-color: rgba(0,0,0,.8);
    float: left;
    box-sizing: border-box;
    padding: 50px;
}

#welcome{
    font-size: 70px;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
}

#menu{
    width: 750px;
    height: 70px;
    box-sizing: border-box;
    margin-top: 10px;
}

#nav-item{
    width: 20%;
    height: 70px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    box-sizing: border-box;
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
}

/*End Home Page Nav/menu bar codding*/

/*Start Home Page Section codding*/

section{
    width: 700px;
    height: 407px;
    box-sizing: border-box;
    float: right;
    background-image: url(../images/s_bg.png);
}

#logo{
    width: 180px;
    height: 180px;
    box-sizing: border-box;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    margin-left: 150px;
    margin-top: 100px;
}

#logo_image{
    width: 170px;
    height: 170px;
    box-sizing: border-box;
}

#domain{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 50px;
    font-family: Verdana;
    text-align: center;
    margin-left: 170px;
}

/*End Home Page Section codding*/

/*End Login Page Section codding*/

fieldset{
    width: 380px;
    height: 240px;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    margin-left: 180px;
    padding: 20px;
}

#login-section{
    width: 700px;
    height: 407px;
    box-sizing: border-box;
    float: right;
    background-image: url(../images/s_bg.png);
    padding: 30px;
}

legend{
    font-family: Lucida;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

#login-form{
    font-family: sans-serif;
    color: white;
    font-size: 20px;
}

#user-pass{
    width: 100%;
    height: 25px;
    background-color: inherit;
    border: none;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    margin-top: 8px;
    margin-bottom: 8px;
    color: white;
    font-size: 18px;
}

#singup-message{
    font-size: 15px;
}

#lonin-btn{
    width: 80px;
    height: 33px;
    float: right;
    margin-top: 15px;
    background-color: inherit;
    border: none;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    color: white;
    font-size: 18px;
}

/*End Login Page Section codding*/

/*start Contact Page Section codding*/

#contact{
    font-size: 20px;
    color: white;
    font-style: normal;
    line-height: 40px;
}

/*End Contact Page Section codding*/