.box{
    width: 720px;
    height: 260px;
    margin: 100px auto;
    overflow: hidden;
}

.slider{
    width: 5280px;
    height: 260px;
    float: left;
    box-sizing: border-box;
    animation: animation 30s infinite;
    position: relative;
    background-color: #f9fafc;
}

@keyframes animation{
    0%{top:0;left:0}
    100%{top:0;left:-4500px}
}

img{
    float: left;
    margin: 20px;
}

img:hover{
    filter: grayscale(100%);
}

.slider:hover{
    animation-play-state: paused;
}