.progress{
    width: 600px;
    height: 30px;
    background-color: #efefef;
    margin: 200px auto;
    border-radius: 20px;
}

.progress-bar{
    width: 0%;
    height: 30px;
    background-color: blue;
    border-radius: 20px;
    animation: load 5s infinite;
}

@keyframes load{
    0%{width: 0%;}
    100%{width: 100%;}
}

.box{
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    animation: box 5s;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}

@keyframes box{
    0%{opacity: 0;}
    100%{opacity: 0;}

}