h1{
    text-align: center;
}

div{
    width: 720px;
    height: 480px;
    box-sizing: border-box;
    border: 5px solid red;
    margin: 50px auto;
    animation: bappa 5s infinite;
}

@keyframes bappa{
    0%{background: url(images/1.jpg); background-size: cover;}
    25%{background: url(images/2.jpg); background-size: cover;}
    50%{background: url(images/3.jpg); background-size: cover;}
    75%{background: url(images/4.jpg); background-size: cover;}
    100%{background: url(images/5.jpg); background-size: cover;}
}